DATABASE_URL="sqlite:///users.db"
JWT_SECRET="jwtsecret"
COOKIE_SECRET="mysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytesmysecurecookiesecret123-with-at-least-64-bytes"